/*
 * Storybook.
 * ============================================================================
 */
.docs-story {
	background-color: var(--color-background-base);
	color: var(--color-text-strong);
	font-family: var(--font-body);
}
